<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Dokku Phoenix!" %></h2>
  <p class="lead">A cloud deployed sample app.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Resources</h4>
    <ul>
      <li>
        <a href="http://dokku.viewdocs.io/dokku/getting-started/installation/">Dokku getting started</a>
      </li>
    </ul>
  </div>

  <div class="col-lg-6">
    
  </div>
</div>
